node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Local secrets
.secrets/

# Firebase debug & configuration
.firebase/
.firebaserc
firebase-debug.log
firestore-debug.log
ui-debug.log

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.firebase-hosting/
